.fila {
    display: flex;
}

.columna {
    flex-grow: 1;
    margin-right: 10px;
}

input {
    display: block;
    margin: 5px;
}

button:hover {
    background-color: darkgrey;
}

button:focus {
    outline: none;
}

.p-1 {
    padding: 1px;
}